

.text-field {
	-fx-background-color: black;
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-control-inner-background: derive(#1d1d1d,20%);
}

.text-area {
    -fx-background-color: #000000;
    -fx-control-inner-background: rgb(255, 255, 255);
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.3em;
    -fx-padding: 5 5 5 5;
}
